body{
	overflow:hidden;
	pointer-events:none;
}
#title{
	position:absolute;
	color:red;
	top:0;
	left:0;
}
#alpha{
	position:absolute;
	color:black;
	top:20px;
	left:20px;
}
#beta{
	position:absolute;
	color:black;
	top:35px;
	left:20px;
}
#gamma{
	position:absolute;
	color:black;
	top:50px;
	left:20px;
}
#orientation{
	position:absolute;
	color:black;
	top:65px;
	left:20px;
}